[submodule "Sparkle"]
	path = Sparkle
	url = https://github.com/sparkle-project/Sparkle.git
[submodule "gifsicle/gifsicle"]
	path = gifsicle/orig
	url = https://github.com/pornel/giflossy.git
[submodule "zopfli-png/zopfli"]
	path = dependencies/zopfli
	url = https://github.com/ImageOptim/zopfli.git
[submodule "pngquant/src"]
	path = dependencies/pngquant
	url = https://github.com/pornel/pngquant.git
[submodule "libjpeg/src"]
	path = dependencies/mozjpeg
	url = https://github.com/mozilla/mozjpeg.git
[submodule "jpegoptim/src"]
	path = dependencies/jpegoptim
	url = https://github.com/tjko/jpegoptim.git
[submodule "guetzli/guetzli"]
	path = dependencies/guetzli
	url = https://github.com/google/guetzli.git
[submodule "svgcleaner/src"]
	path = dependencies/svgcleaner
	url = https://github.com/RazrFalcon/svgcleaner.git
[submodule "oxipng/oxipng"]
	path = dependencies/oxipng
	url = https://github.com/shssoichiro/oxipng
[submodule "gifsicle/orig"]
	path = dependencies/gifsicle
	url = https://github.com/kohler/gifsicle.git
[submodule "dependencies/zlib"]
	path = dependencies/zlib
	url = https://github.com/dougallj/zlib-dougallj.git
[submodule "dependencies/advpng"]
	path = dependencies/advpng
	url = https://github.com/amadvance/advancecomp.git
[submodule "dependencies/gifsicle"]
	url = https://github.com/kohler/gifsicle.git
[submodule "dependencies/libpng"]
	path = dependencies/libpng
	url = https://git.code.sf.net/p/libpng/code
[submodule "dependencies/pngcrush"]
	path = dependencies/pngcrush
	url = https://git.code.sf.net/p/pmt/code
[submodule "dependencies/svgo"]
	path = dependencies/svgo
	url = https://github.com/svg/svgo.git
[submodule "dependencies/libdeflate"]
	path = dependencies/libdeflate
	url = https://github.com/ebiggers/libdeflate.git
